.schedule--content {
  padding: 90px 0;
}

@include media-breakpoint-down(sm) {
  .schedule--content {
    padding: 70px 0;
  }
}

.h-95 {
  height: 95px !important;
}

.h-190 {
  height: 190px !important;
  max-height: 187px;
}

.timer-spacer {
  margin-top: 45px;
  z-index: 9;
}

.timer {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100px;
  background: #f2f4f8;
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
}

.top-time-spacer {
  margin-top: 93px;
}

@include media-breakpoint-down(lg) {
  .time-title {
    font-size: 26px;
    white-space: nowrap;
    padding-bottom: 6px;
  }
}

@include media-breakpoint-down(sm) {
  .time-title {
    padding: 18px 2px;
    font-size: 25px;
  }
  .timer {
    width: 75px;
  }
  .title-box {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.title-box {
  max-height: 108px;
  min-height: 108px;
}
